.buttons{
    display: flex;
    align-items: center;

    gap: 1rem;

    user-select: none;
}
.buttons a {
    padding: 1rem 2rem;
    background-color: var(--background);

    border: 2px solid var(--secondary);


    color: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;

    transition: all 0.4s;
}

.buttons a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary);
    transition: width 0.4s;
}

.buttons a:hover::after{
    width: 100%;
    transition: width 0.4s;
}

.buttons a:active::after{
    width: 0;

    transition: width 0.5s;
}

.buttons a:hover{
    background-color: var(--accent);
    color: var(--background);

    transform: scale(1.1);

    transition: all 0.4s;
}

.buttons a:active{
    transform: scale(0.9);
}