footer{
    background-color: var(--background);
    color: white;
    border-top: 2px solid var(--primary);

    padding: 20px;
    position: fixed;
    bottom: 0;

    width: 100%;

    z-index: 100;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

footer a{
    font-size: 1.5rem;

    color: white;
    text-decoration: none;
}

footer a:hover{
    color: var(--accent);
}

footer a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--accent);
    transition: width 0.5s;
}

footer a:hover::after{
    width: 100%;
    transition: width 0.5s;
}