:root{
    --text: #e3e0f2;
    --background: #040308;
    --primary: #a697e2;
    --secondary: #311c84;
    --accent: #4c26dd;

    --font-family: 'Clash Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
    scrollbar-color: #a697e2 #040308;
    scrollbar-width: thin;

    font: 400 16px var(--font-family);
}

html, body {
    position:relative;
    overflow-x:hidden;

    z-index: -20000;
}

span {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

body {
    background-color: var(--background);
    color: var(--text);

    z-index: -20000;
}


deepl-input-controller, deepl-inline-trigger{
    opacity: 0;
}