:root{
    --text: #e3e0f2;
    --background: #040308;
    --primary: #a697e2;
    --secondary: #311c84;
    --accent: #4c26dd;
    --font-family: 'Clash Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--font-family);

    scroll-behavior: smooth;
    scrollbar-color: #a697e2 #040308;
    scrollbar-width: thin;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    color: var(--text);

    z-index: -20000;
}

a, a:visited {
    color: var(--text);
    text-decoration: none;
}

::selection {
    background-color: var(--primary);
    color: var(--secondary);
}

.spoiler {
    filter: blur(5px);
    transition: all 0.5s;

    user-select: none;

    cursor: help;
}

.spoiler:hover {
    filter: blur(0);
    transition: all 0.5s;
}

deepl-input-controller, deepl-inline-trigger{
    display: none;
}
