:root{
    --text: #e3e0f2;
    --background: #040308;
    --primary: #a697e2;
    --secondary: #311c84;
    --accent: #4c26dd;
    --font-family: 'Clash Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--font-family);
}

body {
    background-color: var(--background);
    color: var(--text);
}

main {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;

    height: 100svh;


    padding: 5rem 2rem;
}

main h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

main p{
    font-size: 1.25rem;
    font-weight: 300;

    width: 30%;

    margin-bottom: 2rem;
}

main .buttons{
    display: flex;
    align-items: center;

    gap: 1rem;
}

deepl-input-controller{
    display: none;
}
deepl-inline-trigger{
    display: none;
}
